.block{
 width: 100%;   
 transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header_ico_menu{
    display: none;
align-items: center;
}
.header_ico_menu i{
    
  font-size: 30px;  
  color: #6D8797;
}

.burger_menu{
    margin-left: -200px;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    /* display: none; */
}
.burger_menu .header_menu{
   display: flex;
   flex-direction: column;
   position: sticky;
   top: 0px;
}
@media only screen and (max-width: 768px){
    body{
        width: 100%;
    }
    
    .header_center{
        margin: 0 50px;
    }
    .header_menu{
        display: none;
    }
    .header_ico_menu{
        display: flex;
     
    }
    .container_center{
        margin: 0 50px;
        margin-bottom: 50px;
    }
    .container_items{
      
    }
    .item{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .item_img{
        width: 460px;
        
    }
    .item_text{
        justify-content: center;
        position: relative;
    }
    .item_text li{
        width: 500px;
        height: 40px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .item_text.small{
        height: auto;
    }
    .item_text.small+.item_img{
      right: 0;
      
    }

    .block.active .header_center{
        margin: 0 20px;
    }
    .block.active .container_center{
        margin: 0 20px;
        margin-bottom: 50px;
    }
    .block.active{
        width: 568px;
    }
    .burger_menu.active{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: 200px;
        background-color: #082033;
        border-right:  1px solid #4C738A;
    }

}