.block{
 width: 100%;   
 transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.header_ico_menu{
    display: none;
align-items: center;
}
.header_ico_menu i{
    
  font-size: 30px;  
  color: #6D8797;
}

.burger_menu{
  
    flex-direction: column;
    background-color: #082033;
        border-right:  1px solid #4C738A;
    display: none;
}
.burger_menu ul{
    width: 100%;
    margin:  0 10px;
}
.burger_menu ul li{
    width: 100%;
    font-size: 22px;
    margin: 0;
    margin-bottom: 5px;
    padding: 5px 0;
    
 }
@media only screen and (max-width: 768px){
    body{
        width: 100%;
    }
    
    .header_center{
        width: 90%;
        margin: 0 auto;
    }
    .header_menu{
        display: none;
    }
    .header_ico_menu{
        display: flex;
     
    }
    .container_center{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .container_items{
      
    }
    .item{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .item_img{
        width:78%;
        
    }
    .item_text{
        justify-content: center;
        position: relative;
    }
    .item_text li{
        width: 78%;
        height: 45px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .item_text.small{
        height: auto;
    }
    .item_text.small+.item_img{
      right: 0;
      
    }

    .block.active .header_center{
        margin: 0 auto;
    }
    .block.active .container_center{
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .block.active{
        width: 80%;
    }
    .burger_menu{
        margin-left: -20%;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        display: flex;
    }
    .burger_menu .header_menu{
       display: flex;
       flex-direction: column;
       position: sticky;
       top: 0px;
      
    }
    .burger_menu.active{
        margin-left: 0px;
         
        width: 20%;
        
    }
    .burger_menu ul li{
        font-size: 18px;
        
        
     }
    


}






























@media only screen and (max-width: 393px){
    .block .header{
        height: 40px;
    }
    .block .header_logo{
        font-size: 20px;
    }
    .block .header_ico_menu{
        font-size: 15px;
    }
    .item{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .item_img{
        width: 100%;
        
    }
    .item_text{
        justify-content: center;
        position: relative;
        margin: 15px 8px;
    }
    .item_text li{
        width: 100%;
        height: 60px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .link_text{
        font-size: 20px;
    }
    .link_button{
        width: 100%; 
    }
    .link_button a{
        width: 100%;
    }
    .link_button button{
         height: 50px;
         width: 100%;
         
         font-size: 20px;
    }
    .burger_menu{
        margin-left: -25%;
    }
    .burger_menu ul li{
        font-size: 16px;
       padding: 5px 5px;
    }
    .burger_menu .header_menu{
        margin: 0;
    }
    .block.active{
        width: 75%;
    }
    .block.active .link_text{
        font-size: 18px;
    }
    .burger_menu.active{
        width: 25%;
    }
    /* body{
        width: 100%;
    }
    
    .header_center{
        margin: 0 15px;
    }
    .header_menu{
        display: none;
    }
    .header_ico_menu{
        display: flex;
     
    }
    .container_center{
        margin: 0 15px;
        margin-bottom: 50px;
    }
    .container_items{
      
    }
    .item{
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
    .item_img{
        width: 100%;
        
    }
    .item_text{
        justify-content: center;
        position: relative;
    }
    .item_text li{
        width: 100%;
        height: 60px;
        margin: 0;
        margin-bottom: 10px;
        font-weight: bold;
    }
    .item_text.small{
        height: auto;
    }
    .item_text.small+.item_img{
      right: 0;
      
    }
    .link_text{
        font-size: 20px;
    }
    .link_button{
        width: 100%;
        
     }
     .link_button a{
         width: 100%;
         
      }
     .link_button button{
        
         height: 50px;
         width: 100%;
         
         font-size: 20px;
     }

    .block.active .header{
        height: 50px;
    }
    .block.active .header_logo{
        font-size: 20px;
    }
    .block.active .header_center{
        
        margin: 0 10px;
    }
    .block.active .container_center{
        margin: 0 20px;
        margin-bottom: 50px;
    }
    .block.active .item_text {
       margin: 15px 8px;
    }
    .block.active .item_text li{
        text-align: left;
        height: 80px;
        font-size: 12px;
    }
    .block.active .link_text{
        font-size: 16px;
    }
    
    .block.active{
        width: 293px;
    }
    .burger_menu.active{
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        width: 100px;
        background-color: #082033;
        border-right:  1px solid #4C738A;
    }
    .burger_menu.active ul{
        width: 100%;
        
        padding-top: 20px;
    }
    .burger_menu.active ul li{
        width: 100%;
        padding: 0 8px;
        font-size: 16px;
        margin-bottom: 15px;
    } */
     
}